[submodule "puppet/modules/epel"]
	path = puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/graphite"]
	path = puppet/modules/graphite
	url = https://github.com/adriaanthomas/puppet-graphite.git
[submodule "puppet/modules/elasticsearch"]
	path = puppet/modules/elasticsearch
	url = https://github.com/elasticsearch/puppet-elasticsearch.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "puppet/modules/timezone"]
	path = puppet/modules/timezone
	url = https://github.com/saz/puppet-timezone.git
[submodule "puppet/modules/file_concat"]
	path = puppet/modules/file_concat
	url = https://github.com/electrical/puppet-lib-file_concat.git
[submodule "puppet/modules/logstash"]
	path = puppet/modules/logstash
	url = https://github.com/logstash/puppet-logstash.git
